@model BlogSpot.Models.Blog

@{
    ViewData["Title"] = "ViewBlog";
}


<div>
  
        <div class="card mb-2 offset-md-2 col-md-8 justify-content-center box-shadow">
            @if (!String.IsNullOrEmpty(Model.Image))
            {
                var image_path = $"/Image/{Model.Image}";

    <img src="@image_path" class="mt-2 img-thumbnail" style="height:300px;" />}

        <div class="card-body">
            <h3 class="card-title text-center"> @Html.DisplayFor(model => model.Title)</h3>
            <p class="card-text">@Html.DisplayFor(model => model.body)</p>
            <h6 class="card-subtitle mb-2 text-muted">Category: @Html.DisplayFor(model => model.Category)</h6>
            <a class=" btn btn-primary" asp-controller="Panel" asp-action="EditBlog" asp-route-id="@Model.Blog_ID">Edit</a>
            <a class=" btn btn-primary" asp-controller="Panel" asp-action="RemoveBlog" asp-route-id="@Model.Blog_ID">Remove</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">@Html.DisplayFor(model => model.Created)</small>
            
        </div>
        </div>
    </div>

 
<div style="align-content:center;">
    <a asp-action="Index">Back</a>
</div>
