@model IEnumerable<lab10.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cust_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Order_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Order_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Order_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
