
@model BlogSpot.Models.Blog

@{ ViewData["Title"] = "ViewBlog";
    var base_path = Context.Request.PathBase;
    }


<h3 class="h3 mb-4" style="color:#040434;text-shadow:1px 1px 2px #070a28">Blog</h3>
<hr />
<div class="card mb-3 offset-md-3 col-md-6 justify-content-center box-shadow">
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var image_path = $"{base_path}/Image/{Model.Image}";

<img src="@image_path" class="mt-2 img-thumbnail" style="width:523px;height:250px;" />}

    <div class="card-body">
        <h3 class="card-title text-center"> @Html.DisplayFor(model => model.Title)</h3>
        <p class="card-text">@Html.DisplayFor(model => model.body)</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">@Html.DisplayFor(model => model.Created)</small>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
<div class="card mb-3 offset-md-3 col-md-6 justify-content-center box-shadow">

    <div class="col-md mt-5 mb-5">
        @{ await Html.RenderPartialAsync("_MainComment", new CommentViewModel { BlogId = Model.Blog_ID, MainCommentId = 0 }); }

        @foreach (var c in Model.MainComments)
        {
<p class="mt-3">
    @c.Message ( <small class="text-muted">@c.Created</small> )
</p>
                <div style="margin-left:70px;">
                    <h6 class="text-muted mt-0 pt-0"> Reply</h6>
                    @{ await Html.RenderPartialAsync("_MainComment", new CommentViewModel { BlogId = Model.Blog_ID, MainCommentId = c.Id }); }
                    @foreach (var sc in c.SubComments)
                    {
    <p class="m-0 p-0">
        @sc.Message ( <small class="text-muted">@sc.Created</small> )
    </p>}
                </div>}
    </div>
</div>
 }
                        else
                        {
                            <div class="text-center" style="color:#040434;text-shadow:1px 1px 2px #070a28">
                                <a asp-action="Login" asp-controller="Auth">Login first, to comment on this post!</a>
                            </div>
                        }
<div>
    <a asp-action="Index">Back to List</a>
</div>